RCLXSD/0201.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Juan Rave (SINAP) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entidad">
		<xs:annotation>
			<xs:documentation>Nit de la Entidad que realiza la rendici贸n</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codigo">
		<xs:annotation>
			<xs:documentation>C贸digo del Rubro Presupuestal de la Entidad</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="indicador">
		<xs:annotation>
			<xs:documentation>Indicador de Producto</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nombre">
		<xs:annotation>
			<xs:documentation>Nombre de la Fuente de Financiaci贸n</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fuente">
		<xs:annotation>
			<xs:documentation>Fuente de la cual se obtuvo la informaci贸n</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="objetivo">
		<xs:annotation>
			<xs:documentation>Objetivo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="problema">
		<xs:annotation>
			<xs:documentation>Objetivo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="responsable">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="vigenciaInicial" type="xs:gYear" nillable="false">
		<xs:annotation>
			<xs:documentation>Vigencia Inicial</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="vigenciaFinal" type="xs:gYear" nillable="false">
		<xs:annotation>
			<xs:documentation>Vigencia Final</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="vigencia" type="xs:gYear" nillable="false">
		<xs:annotation>
			<xs:documentation>Vigencia Final</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fechaInicio" type="xs:date"/>
	<xs:element name="fechaFin" type="xs:date"/>
	<xs:element name="ponderacion" type="xs:int"/>
	<xs:element name="resultado" type="xs:int"/>
	<xs:element name="valor" nillable="false">
		<xs:annotation>
			<xs:documentation>Valor Inicial del Rubro</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:double">
				<xs:pattern value="[0-9]{1,20}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="planDesarrollo">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entidad"/>
				<xs:element ref="codigo"/>
				<xs:element ref="nombre"/>
				<xs:element ref="responsable"/>
				<xs:element ref="vigenciaInicial"/>
				<xs:element ref="vigenciaFinal"/>
				<xs:element ref="EjeEstrategicos"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ejeEstrategico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
				<xs:element ref="nombre"/>
				<xs:element ref="descripcion"/>
				<xs:element ref="objetivo"/>
				<xs:element ref="ponderacion"/>
				<xs:element ref="Sectores"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="sectorEstrategico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
				<xs:element ref="ponderacion"/>
				<xs:element ref="ObjetivosEstrategicos"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="objetivosEstrategico">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objetivo"/>
				<xs:element ref="problema"/>
				<xs:element ref="ponderacion"/>
				<xs:element ref="Programas"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="programa">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
				<xs:element ref="nombre"/>
				<xs:element ref="descripcion"/>
				<xs:element ref="fechaInicio"/>
				<xs:element ref="fechaFin"/>
				<xs:element ref="ponderacion"/>
				<xs:element ref="SubProgramas"/>
				<xs:element ref="FuentesFinanciacion"/>
				<xs:element ref="Metas"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="subPrograma">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
				<xs:element ref="nombre"/>
				<xs:element ref="descripcion"/>
				<xs:element ref="fechaInicio"/>
				<xs:element ref="fechaFin"/>
				<xs:element ref="ponderacion"/>
				<xs:element ref="FuentesFinanciacion"/>
				<xs:element ref="Metas"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fuenteFinanciacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="meta">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo"/>
				<xs:element ref="descripcion"/>
				<xs:element ref="indicador"/>
				<xs:element ref="resultado"/>
				<xs:element ref="LineasBase"/>
				<xs:element ref="ValoresEsperados"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="lineaBase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vigencia"/>
				<xs:element ref="valor"/>
				<xs:element ref="fuente"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="valorEsperado">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="vigencia"/>
				<xs:element ref="valor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EjeEstrategicos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ejeEstrategico" maxOccurs="2000"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Sectores">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="sectorEstrategico" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ObjetivosEstrategicos">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="objetivosEstrategico" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Programas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="programa" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubProgramas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="subPrograma" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FuentesFinanciacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fuenteFinanciacion" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Metas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="meta" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="LineasBase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="lineaBase" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ValoresEsperados">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="valorEsperado" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
