RCLXSD/0202.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by Juan Rave (SINAP) -->
<!--W3C Schema generated by XMLSpy v2011 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="entidad">
		<xs:annotation>
			<xs:documentation>Nit de la Entidad que realiza la rendición</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codigo">
		<xs:annotation>
			<xs:documentation>Código del Rubro Presupuestal de la Entidad</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="codigoSEPI">
		<xs:annotation>
			<xs:documentation>Código SEPI</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fuente">
		<xs:annotation>
			<xs:documentation>Código SEPI</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="50"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="acto">
		<xs:annotation>
			<xs:documentation>Indicador de Producto</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="1"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="nombre">
		<xs:annotation>
			<xs:documentation>Nombre de la Fuente de Financiación</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="250"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="objetivo">
		<xs:annotation>
			<xs:documentation>Objetivo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="problema">
		<xs:annotation>
			<xs:documentation>Objetivo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="responsable">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="descripcion">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fecha" type="xs:date"/>
	<xs:element name="fechaInicial" type="xs:date"/>
	<xs:element name="fechaFinal" type="xs:date"/>
	<xs:element name="ubicacion">
		<xs:annotation>
			<xs:documentation>Ubicación geográfica del proyecto: 0 Urbano, 1 Rural , 2 Expansion Urbana</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
				<xs:enumeration value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="esAfectada">
		<xs:annotation>
			<xs:documentation>Indica si la población se encuentra afectada o no por el problema que se resolverá</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipoPoblacion">
		<xs:annotation>
			<xs:documentation>Tipo de población afectada</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="cantidadMasculina" type="xs:int"/>
	<xs:element name="cantidadFemenina" type="xs:int"/>
	<xs:element name="duracion" type="xs:int"/>
	<xs:element name="unidadDuracion" type="xs:int"/>
	<xs:element name="tipoEjecutor">
		<xs:annotation>
			<xs:documentation>Tipo de ejecutor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="clasificacionEjecutor">
		<xs:annotation>
			<xs:documentation>Clasificación ejecutor</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="esInterno">
		<xs:annotation>
			<xs:documentation>Indica si el proyecto será ejecutado internamente</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="objetivoEspecifico">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2500"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="tipo">
		<xs:annotation>
			<xs:documentation>Tipo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:enumeration value="0"/>
				<xs:enumeration value="1"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="autoridadExpide">
		<xs:simpleType>
			<xs:restriction base="xs:int">
				<xs:minInclusive value="0"/>
				<xs:maxInclusive value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="planDesarrollo">
		<xs:annotation>
			<xs:documentation>Código del Plan de Desarrollo</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="ejeEstrategico">
		<xs:annotation>
			<xs:documentation>Eje Estrátegico</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sectorEstrategico">
		<xs:annotation>
			<xs:documentation>Sector Estrátegico</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="objetivoEstrategico">
		<xs:annotation>
			<xs:documentation>Objetivo Estrátegico</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="programa">
		<xs:annotation>
			<xs:documentation>Programa</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="subPrograma">
		<xs:annotation>
			<xs:documentation>SubPrograma</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="proyectoPadre">
		<xs:annotation>
			<xs:documentation>Proyecto Padre</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="20"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="resultado" type="xs:int"/>
	<xs:element name="valor" nillable="false">
		<xs:annotation>
			<xs:documentation>Valor Inicial del Rubro</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:double">
				<xs:pattern value="[0-9]{1,20}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="proyecto">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="entidad"/>
				<xs:element ref="planDesarrollo"/>
				<xs:element ref="ejeEstrategico"/>
				<xs:element ref="sectorEstrategico"/>
				<xs:element ref="objetivoEstrategico"/>
				<xs:element ref="programa"/>
				<xs:element ref="subPrograma"/>
				<xs:element ref="proyectoPadre"/>
				<xs:element ref="codigo"/>
				<xs:element ref="codigoSEPI"/>
				<xs:element ref="esInterno">
					<xs:annotation>
						<xs:documentation>Indica si el proyecto será ejecutado internamente por la entidad que reporta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="nombre">
					<xs:annotation>
						<xs:documentation>Nombre del Proyecto</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="descripcion"/>
				<xs:element ref="problema">
					<xs:annotation>
						<xs:documentation>Problema que resolverá el proyecto</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="objetivoEspecifico"/>
				<xs:element ref="responsable"/>
				<xs:element ref="fecha"/>
				<xs:element ref="duracion"/>
				<xs:element ref="unidadDuracion"/>
				<xs:element ref="valor">
					<xs:annotation>
						<xs:documentation>Valor</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="CaracteristicasDemograficas"/>
				<xs:element ref="UbicacionesGeograficas"/>
				<xs:element ref="Fuentes"/>
				<xs:element ref="Fases"/>
				<xs:element ref="EfectosAmbientales"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="caracteristicaDemografica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="esAfectada"/>
				<xs:element ref="tipoPoblacion"/>
				<xs:element ref="cantidadMasculina"/>
				<xs:element ref="cantidadFemenina"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fuenteFinanciacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fuente"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>	
	
	<xs:element name="ubicacionGeografica">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ubicacion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FuentesFinanciacion">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fuenteFinanciacion"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="fase">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo">
					<xs:annotation>
						<xs:documentation>Código</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="nombre">
					<xs:annotation>
						<xs:documentation>Nombre</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="responsable"/>
				<xs:element ref="fechaInicial"/>
				<xs:element ref="fechaFinal"/>
				<xs:element ref="Actividades"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="actividad">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="codigo">
					<xs:annotation>
						<xs:documentation>Código</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="nombre">
					<xs:annotation>
						<xs:documentation>Nombre</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="responsable"/>
				<xs:element ref="fuenteFinanciacion"/>
				<xs:element ref="tipoEjecutor"/>
				<xs:element ref="clasificacionEjecutor"/>
				<xs:element ref="valor">
					<xs:annotation>
						<xs:documentation>Valor</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="efectoAmbiental">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="acto"/>
				<xs:element ref="fecha"/>
				<xs:element ref="tipo"/>
				<xs:element ref="autoridadExpide"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CaracteristicasDemograficas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="caracteristicaDemografica" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UbicacionesGeograficas">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ubicacionGeografica" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fuentes">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fuenteFinanciacion" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Fases">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fase" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Actividades">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="actividad" maxOccurs="100"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="EfectosAmbientales">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="efectoAmbiental" maxOccurs="20"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
